<div class="container__big_card">
  <div class="big-card__photo">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSm8_ueuBuPRqrgegi66srG7M44scBq5VflZA&usqp=CAU"
      alt="Festa de são joão"
      height="200px"
      width="150px"
      srcset=""
      >
  </div>
  <div class="big-card-title">
    <h1><a href="#">Saia a programação da festa</a></h1>
  </div>
  <div class="big-card-description">
    <p>
      <a href="#">
        A festa e para todos, traga a sua familia, gato, cachorro e piriquito
      </a>
    </p>
  </div>
</div>
