<div class="container__menu-bar">
  <ul>
    <li>
      <a href="https://www2.recife.pe.gov.br/etiquetas/sao-joao">Prefeitura</a>
    </li>
    <li><span>.</span></li>
    <li>
      <a href="https://www.cultura.pe.gov.br/canal/fundarpe/inscricoes-abertas-para-o-edital-do-ciclo-junino-2023-promovido-pelo-governo-de-pernambuco/">Governo</a>
    </li>
    <li><span>.</span></li>
    <li>
      <a href="https://g1.globo.com/pe/pernambuco/sao-joao/2023/noticia/2023/06/11/recife-inicia-programacao-oficial-de-sao-joao-confira-atracoes-dos-20-dias-de-festa.ghtml">Globo</a>
    </li>
  </ul>
</div>
